 <!-- side bar -->

 <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
        <br>
        <br>
        <br>
    <ul class="nav nav-pills flex-column mb-auto border-top border-bottom">
      <li class="nav-item">
        <a href="/admin" class="nav-link fs-5 text-white" aria-current="page">
          <i class="bi bi-house-door"></i>
          Home
        </a>
      </li>
      <li>
        <a href="/admin/brands" class="nav-link fs-5 text-white">
            <i class="bi bi-phone"></i>
          Brands
        </a>
      </li>
      <li>
        <a href="/admin/categories" class="nav-link fs-5 text-white">
            <i class="bi bi-journals"></i>
          Categories
        </a>
      </li>
      <li>
        <a href="/admin/products" class="nav-link fs-5 text-white">
            <i class="bi bi-laptop"></i>
          Products
        </a>
      </li>
      <li>
        <a href="/admin/orders" class="nav-link fs-5 text-white">
            <i class="bi bi-bag-check"></i>
          Orders
        </a>
      </li>
      <li>
        <a href="/admin/users" class="nav-link fs-5 text-white">
            <i class="bi bi-person-circle"></i>
          Users
        </a>
      </li>
    </ul>
  </div>
